.task-list {
    margin-top: 20px;
    border-top: solid 3px $color-btn;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    &-item {
        display: flex;
        flex-direction: row;
    }
}

