// color
$color-bg: rgb(249,247,236);
$color-bg-form: rgb(170,170,170);
$color-form: rgb(187,187,187);
$color-btn:rgb(184,197,118);
$color-hover: rgb(214,190,153);
$color-title: rgb(254, 250, 224);
$color-txt: rgb(45,45,45);

// font
$font-title: 'Anton', sans-serif;
$font-text: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow&display=swap');