// color
$color-bg: rgb(96, 108, 56);
$color-bg-form: rgb(188, 108, 37);
$color-form: rgb(221, 161, 94);
$color-btn:rgb(40, 54, 24);
$color-title: rgb(254, 250, 224);

// font
$font-title: 'Anton', sans-serif;
$font-text: 'Barlow', sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Barlow&display=swap');